{% extends 'base.html.twig' %}

{% block body %}
<body class="bg-secondary text-light">
	<h4 class="m-5 text-light text-center">Le mot de passe a été modifié avec succés !</h4>
	<a class="iconsocial" href="/"><p class="m-5 text-center">Retourner à l'accueil du site</p></a>
</body>
{% endblock %}