{% extends 'base.html.twig' %}

{% block body %}


    <div class="text-center m-5 fontTitle">
    <p>Réinitialisation du mot de passe</p>
    </div>
    <div class="m-auto mt-5 w-50 p-3 border border-primary rounded shadow">
      {{ form_start(formResetPass) }}
        {{form_row(formResetPass.password)}}
        <input class="btn btn-primary" type='submit'></input>
      {{ form_end(formResetPass) }}
    
    </div>
{% endblock %}