{% extends 'base.html.twig' %}
{% block title %}Actualités
{% endblock %}

{% block body %}
  <h1 class="text-center m-5 fontTitle">Actualités</h1>
  
  {% if is_granted('ROLE_ADMIN') %}
		<div class='d-flex justify-content-center'>
			<a class='btn btn-primary m-3' href="/actuality/add">
				<i class="bi bi-plus me-2"></i>Ajouter une actualité</a>
		</div>
	{% endif %}
	<div class="row row-cols-2">
  {% for actuality in actualities %}
  <div class="border-top d-flex flex-row col">
     <a data-bs-toggle="modal" data-bs-target="#eModal"><img id="imgActu" class="m-2 h-50 w-auto" src={{ asset('css/images/' ~ actuality.image) }} ></a>
						<!-- Modal -->
						<div class="modal fade" id="eModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog modal-xl">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										<img id="imgModal">
									</div>
								</div>
							</div>
						</div>

    <div class="ms-3">
      <h1 class="fontTitle">
        {{actuality.title}}
      </h1>
      <p>
        {{actuality.content}}
      </p>
      <small>Publié le {{actuality.publishedAt|date('d/m/Y')}}</small>
    </div>
    
  </div>
{% endfor %}
</div>
{% endblock %}

	