{% extends 'base.html.twig' %}
{% block title %}Galerie d'aquarelles
{% endblock %}

{% block body %}
	<body class="bg-secondary">
		<div class="d-flex justify-content-around flex-wrap container mt-3">

			{% for painting in paintings %}
				<div class="card m-2 card-bs p-2 h-75">
					{% if painting.image %}						
						<a href="{{path('app_painting_view', {'id': painting.id})}}" class="m-auto">
							<img src= {{ asset('css/images/') ~ painting.image }} class="card-img-top">
						</a>
					{% endif %}
					<div class="card-body">
						{% if painting.name %}
							<h5 class="card-title m-auto text-center fontText">{{painting.name}}</h5>
						{% endif %}
					</div>
					<div class="card-footer">
						<small>
							{{painting.technic}}</p>
					</small>
				</div>
			</div>
		{% endfor %}
	</div>	
</body>
{% endblock %}
