{% extends 'base.html.twig' %}

{% block body %}
<body class="bg-dark">
	<div class=" flexConfig m-4 d-flex">
    <img  class="imgPresentation mb-2" src="/css/images/crbst_chevalet3.jpg" alt="">
    <div class="ps-4 text-light">
      <h1 class="fontTitle">François Kunzé</h1>
      <p>Né en 1950, j'ai eu très tôt l'envie de dessiner et de peindre sous influence familiale.</p>
      <br>
      <p>Ancien élève de l'Ecole des Beaux-Arts de Rouen. Etudiant, j’ai travaillé dans des cabinets 
      d’architectes. Le dessin a toujours été pour moi un moyen d’expression essentiel. Puis par choix, 
      j’ai passé le concours de professeur de dessin d’art dans l’Education Nationale et j’ai exercé dans différents collèges 
      en évoluant vers les travaux manuels, le dessin d’art étant abandonné au profit des arts plastiques. Des travaux manuels, 
      je suis passé à l’EMT (Education Manuelle et Technique) et ensuite à la technologie dominée par l’informatique dont j’ai suivi 
      l’évolution tout au long de ma carrière de professeur, depuis l’ordinateur MO5 Thomson, jusqu’à la tablette numérique.</p>
      <br>
      <p>Est arrivé le moment de la retraite où j’ai renoué avec le dessin et l’aquarelle que j’avais enfouis au plus profond de moi-même. 
      J’ai pu constater qu’on ne perd rien de ce qui est en nous.</p>
      <br>
      <p>Une deuxième vie professionnelle s’est offerte à moi. Et depuis je parcours les salons et expositions où je suis invité 
      pour mon plus grand plaisir. J’ai ainsi exposé mes œuvres dans des salons internationaux comme à Vittel 
      ou à l’occasion de l’exposition Art en Capital au Grand Palais à Paris, ou encore au Teich et à Caussade, deux beaux salons d'aquarelle. 
      J’ai reçu de nombreux prix. Certains m’ont beaucoup ému dont le dernier à Caussade pour lequel je salue les organisateurs efficaces et compétents. 
      J’aime aussi participer à des concours de peinture souvent en plein air comme à Fourges ou à Magné. </p>
      <br>
      <p>L’association la Palette de Gravigny cherchait un nouveau président, j’ai accepté bien volontiers cette responsabilité. 
      La Maladrerie est un lieu de Gravigny fait pour les expositions d’art. Il aurait été dommage de ne plus exposer dans ce bâtiment du XIIe siècle,
       cadre magnifique pour nos deux salons de peinture en novembre et de dessin d’art en mars. J’ai ainsi rencontré des peintres de toutes natures, 
       dont certains sont devenus des amis. Je pense à Richard Gosselin RIEGE et à Hasan Saygin, à Muriel Buthier-Chartrain, à Yann Lesacher. 
       De très grands peintres différents dans leur expression, mais au combien attachants et sincères. 
       Je pense aussi aux membres de l’association dont la gentillesse n’a d’égale que l’efficacité. 
       Je pense à tous ceux que j’ai pu rencontrer tout au long de ce parcours de peintre et qui m’ont tous confié leur amitié et leur expérience. 
       La liste serait longue, très longue. Je suis riche de ces rencontres que m’a apportées la peinture.</p>
      <br>
      <p>La vie n’est pas assez longue pour tout faire. C’est dommage.</p>
    </div>
  </div>
</body>
{% endblock %}
