{% extends 'admin/baseAdmin.html.twig' %}

{% block divSide %}
	<div class="w-75 m-3">
		<h1 class="mb-3">Gestion du site de François Kunzé</h1>
		<div class="w-75 m-auto">
				{% block divGestion %}
					<a style="text-decoration: underline;" href="/">Retourner à la page d'accueil...</a>
				{% endblock %}
		</div>		
	</div>
{% endblock %}
