{% extends 'base.html.twig' %}

{% block title %}Ajouter une actualité{% endblock %}

{% block body %}
<div class="m-3 w-50 p-3 border border-primary rounded shadow">
    {{ form_start(form) }}
    {{form_rest(form) }}

    {% if app.request.get('_route') == "app_actuality_add" %}
        <input class='btn btn-primary' type="submit" value="Ajouter l'actualité"></input>
    {% else %}
         <input class='btn btn-primary' type="submit" value="Modifier l'actualité"></input>
    {% endif %}
</div>
{% endblock %}