<h1>Nouveau message sur votre site</h1>

<p>
    Un nouveau message a été posté par {{ name }}
</p>

<p>
    " {{ message }} "
</p>

<p>
      Répondre à : <a href="mailto:{{ emailUser }}"> <strong>{{emailUser}}</strong></a>
</p>