<h1>Nouveau commentaire sur vos oeuvres !</h1>

<p>
    Un nouveau commentaire a été posté sur l'oeuvre "{{ oeuvre }}" par {{ name }}
</p>

<p>
    " {{ comment}} "
</p>

<p>
    <a href="http://kunze.fr">Voir le commentaire</a>
</p>